<h1>Editing pin</h1>

<%= image_tag @pin.image.url(:medium) %>

<%= form_for @pin do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, required: true, 'autocomplete'=>'off',class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>


<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
