<%= link_to 'Back', pins_path, class: "btn btn-primary" %>

<div class="row">

	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
		<div class="panel-heading center">
			<%= image_tag @pin.image.url(:medium) %>
		</div>

		<div class="panel-body">
			<p><strong><%= @pin.description %></strong></p>
			<p>
				<% if @pin.user == current_user %>
					<%= link_to 'Edit', edit_pin_path(@pin) %>
					<%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
			</p>
		</div><!--end panel-body-->
		
		</div>
	</div>

</div>